{{template "header.html" .}}

<div class="container">
  <h3>Administrator</h3>
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-default span6">
        <div class="panel-heading">
          <h4>Signin</h4>
        </div>
        <div class="panel-body">
          <form action="{{url "Admin.Signin"}}" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input id="email" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control" rows="3"></input>
            </div>
            <p>
              <button id="signin-button" type="submit" class="btn btn-primary btn-block">SignIn</button>
            </p>
            <a href="{{url "Admin.Signup"}}">SignUp</a>
          </form>
        </div>
    </div>
    </div>
  </div>
</div>

{{template "footer.html" .}}